@import "./styles/theme.css";
/* @import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"); */

@font-face {
  font-family: "m5x7";
  src: url("./assets/m5x7.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "m5x7", system-ui, sans-serif;

  line-height: 1.5;
  font-size: 18px;
  font-size-adjust: 0.9;

  /* font-weight: 400; */

  color-scheme: light dark;
  color: var(--color-base);
  background-color: var(--color-background);

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

p {
  /* font-size-adjust: 0.9; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
transform: scaleX(0.94);
    transform-origin: left top;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  font-size-adjust: 0.7;
}

h2 {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
